.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 3.75rem;
  right: 1.25rem;
  z-index: 999;
  display: none;
}
.chapp_text {
  font-size: 72px;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 2px rgb(0 0 0 / 50%);
    text-align: justify;
    text-transform: none;
    font-weight: 600;
    width: 50%;
    padding: 20px;
    border: 2px solid #224c76;
    border-radius: 10px;
  text-align: center !important;
}
.content {
  width: 60%;
  font-size: 30px;
  text-align: center;
  /* z-index: 1000; */
  background-color: rgba(36, 41, 36, 0.499);
  color: rgb(255, 255, 255);
}

#special-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 2.5rem;
  background-color: #ffffff;
  margin-bottom: 1.25rem;
  position: fixed;
  top: 0;
  z-index: 999;
  padding-bottom: 0.625rem;
  border-bottom: 0.25rem #13a89e solid;

  font-size: 1rem;
}

#special-banner .back-button {
  font-size: 1rem;
  background-color: #ffffff;
  color: #fff;
  padding-left: 1rem;
  /* margin-right: 0.625rem; */
  /* padding: 0.625rem 0.625rem 0.625rem 1.25rem; */
}

#special-banner .header-image img {
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 7rem;
  height: 40px;
}

#special-banner .header-logo img {
  padding-top: 0.5rem;
  height: 40px;
}

.border-hidden-1 {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  color: transparent;
  background: url('https://znews-photo.zingcdn.me/Uploaded/qxwpzdjwp/2022_01_22/DSC_3518.jpg') no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-hidden-2 {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  color: transparent;
  background: url('https://znews-photo.zingcdn.me/Uploaded/qxwpzdjwp/2022_10_10/aTTL_4711_zing.jpg') no-repeat fixed 50% 50% #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-hidden-3 {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  color: transparent;
  background: url('https://znews-photo.zingcdn.me/Uploaded/qxwpzdjwp/2022_01_22/DSC_3728.jpg') no-repeat fixed 50% 50% #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-hidden-4 {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  color: transparent;
  background: url('https://znews-photo.zingcdn.me/Uploaded/qxwpzdjwp/2022_01_22/DSC_3898.jpg') no-repeat fixed 50% 50% #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center !important;
}

.footer-content .link-logo {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer {
  border-top: 5px solid #e8e8e8;
  padding-bottom: 30px;
  background-color: #f4f4f4;
  text-align: center;
  font-size: .72rem;

  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  line-height: 1.43;
}

.footer-content .bl.tbt {
  margin-bottom: 20px;
}

.footer-content .bl {
  margin-bottom: 30px;
}

.footer-content .dev {
  font-size: .9em;
  margin-top: 10px;
  color: rgba(0, 0, 0, .5);
  margin-bottom: 30px;
}

.page-footer {
  width: 100%;
  min-height: 8.12rem;
  background-color: #3a3a3c;
  margin: auto !important;
  position: relative;
  border-top: 0.253rem #13a89e solid;
}

.page-footer .authors {
  width: 50%;
  position: absolute;
  font-size: 1.15rem;
  font-weight: 400;
  color: #ccc;
  bottom: 0.625rem;
  left: 2.5rem;
}

.page-footer .footer-logo img {
  position: absolute;
  max-width: 20%;
  float: right;
  bottom: 0.625rem;
  right: 2.5rem;
  max-height: 3.125rem;
}

.page-footer .authors a {
  text-decoration: none;
  color: #13a89e;
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 14px;
  }

  .content_page {
    width: 55%;
    padding-bottom: 1.8rem;
  }
}